.main {
  display: flex;
  flex-direction: column;
  padding: 4%;
  width: 100%;
}

.fheader {
  display: flex;
  flex-direction: column;
  margin-top: 6% !important;
  width: 100%;
}

.headerCol {
  justify-content: center;
}

.heading {
  font-size: 26px;
  font-weight: 400;
  justify-content: center;
}

.subHeading {
  font-size: 20px;
  font-weight: 300;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
}

.snippet {
  display: flex;
  justify-content: center;
  margin-top: 32px !important;
}

.text {
  font-size: 16px;
  color: #424242;
}

.italic {
  margin-top: 4px;
  font-size: 16px;
  font-style: italic;
  color: #757575;
}

.featureText {
  align-self: flex-start;
  font-size: 24px;
  font-weight: 700;
  margin-top: 32px !important;
}
