.card {
  width: 240px;
  height: 332px;
  background: #fff;
  height: 20%;
}

.button {
  width: 70%;
  height: 40px;
  border-radius: 0px;
  margin-top: 16px;
}

.boldBlue {
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 8px;
  color: #489fd9;
}

.strikeText {
  font-size: 14px;
  text-decoration: line-through;
  color: #c7c5c5;
}

.text {
  font-size: 14px;
}
